<form class="" action="/restaurant/submit_new" method="post">
  <input type="hidden" name="restaurant_id" value="{{result.[0].restaurant_id}}">
  <label for="name">RESTAURANT_NAME</label>
<input type="text" name="name" value="">
<label for="address">ADDRESS</label>
<input type="text" name="address" value="">
<label for="category">CATEGORY</label>
<input type="text" name="category" value="">
  <button class="btn btn-warning" type="submit" name="button">SUBMIT</button>
</form>
