
    <h1>Welcome {{name}}</h1>
  <form class="" action="/search" method="get">
    <label for="searchTerm">Search my restaurant database:</label>
    <input type="text" name="searchTerm" value="">
    <button type="submit">SUBMIT</button>
  </form>
